html {
    font-size: 10px;
    color: #030303;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

main {
    max-width: 50rem;
    margin: 2rem auto;
    background: linear-gradient(40deg, #eb6d24, #e9dbb5);
    padding: 3rem 1.6rem 6rem 1.6rem;
    border-radius: 4rem;
    box-shadow: 5px -5px 55px 18px #383534;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 3rem;
}

section {
    background-color: whitesmoke;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    background: #e9d7b5;
    padding: 0 1.6rem;
    border-radius: 2rem;
    box-shadow: inset 5px -5px 44px 18px wheat;
}

section > div {
    padding: 1.6rem 0;
}

.bill {
    display: flex;
}

.bill label {
    flex: 1;
    align-self: center;
}

.bill input {
    flex: 3;
}

input[type="number"] {
    font-family: inherit;
    background: #ffffcc;
    font-size: 1.6rem;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 1rem;
    padding: 0.8rem 0 0.8rem 0.8rem;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.space-between {
    display: flex;
    justify-content: space-between;
}

.total {
    font-size: 2rem;
    font-weight: bold;
}

.range {
    -webkit-appearance: none;
    background-color: #eb6d24;
    width: 100%;
    height: 8px;
    margin-top: 1.2rem;
    border-radius: 0.3rem;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.2rem;
    height: 2.2rem;
    border-radius: 30%;
    background-color: #030303;
    cursor: pointer;
}
